.cart{
   &-column{
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 0 3px var(--color);
      height: 120px;
      padding: 20px;
      &:last-of-type{
         margin-bottom: 0;
      }
   }
   
}
.column {
   &-img{
      display: flex;
      align-items: center;
      height: 100px;
      width: 350px;
      img{
         height: 100%;
         border-radius: 5px;
         object-fit: contain;
         margin-right: 10px;
      }
      span{
         font-weight: bold;
      }
   }
   &-info{
      display: flex;
      align-items: center;
      b{
         margin: 0 20px;
      }
   }
   &-minus{
      svg{
         border: 1px solid #ccc;
         border-radius: 50%;
         height: 30px;
         width: 30px;
         padding: 9px;
         display: flex;
         cursor: pointer;
         fill: red;
         &:hover{
            box-shadow: 0 0 5px red;
            border-color: red;
         }
      }
   }
   &-plus{

      svg{
         border: 1px solid #ccc;
         border-radius: 50%;
         height: 30px;
         width: 30px;
         padding: 9px;
         display: flex;
         cursor: pointer;
         &:hover{
            border-color: var(--green);
            box-shadow: 0 0 5px var(--green);
         }
         path{
            fill: var(--green);
         }
      }
   }
   &-remove{
      svg{
         border: 1px solid #ccc;
         border-radius: 50%;
         height: 30px;
         width: 30px;
         padding: 9px;
         display: flex;
         cursor: pointer;
         &:hover{
            border-color: #ccc;
            background: #ccc;
            box-shadow: 0 0 5px rgb(102, 102, 102);
            path{
               fill: #fff;
            }
         }
         path{
            fill: #ccc;
         }
      }
   }
}